    <div class="users_about_connect">

    <% profile_user = User.where(id: @profile.user_id).first %>
      <% userrole = profile_user.user_role %>
      <% userrole.each do |check_role| %>
           <% if check_role == "Mentee" %>
            <% unless current_user.following?(profile_user) %>
                <%= button_to "Mentee", {:controller => :users, :action => :follow_profile,  :id => @profile.user_id},:remote => true, :class => "connectbtn",
                        :style => "width:90px;" %>
            <% end %><br />
            <% end %>
          <% if check_role == "Mentor" %>
            <% unless profile_user.following?(current_user) %>
                <%= button_to "Mentor", {:controller => :users, :action => :follow_my_profile,  :id => @profile.user_id},:remote => true, :class => "connectbtn",
                        :style => "width:90px;" %>
            <% end %><br />
              <% end  %>
      <% end %>


      <% unless check_peer(@profile.user_id) %>
          <%= button_to "Peer", {:controller => :users, :action => :follow_as_peer,  :id => @profile.user_id},:remote => true, :class => "connectbtn",
                        :style => "width:90px;" %>

      <% end %>
    </div>