<p id="notice"><%= notice %></p>

<p>
  <b>Mile stone step:</b>
  <%= @milestone.mile_Stone_step %>
</p>


<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
