<div id="userCMT" style="">
  <% profile = Profile.where("user_id =? ",comment.commenter_id).first %>
  <% unless profile.avatar_file.nil? %>
  <div id="singleCMT">
    <div id="cmtImgDiv">
      <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => profile.id),{ :class => "thumb_image",:style =>"width:40px;height:40px; margin:0px;padding:0px;"} %>
      <% else %>
      <% end %>
    </div>
    <div id="actlCmt">
      <div id="cmtOfCmt" style="display:inline-block">
        <span id="cmt_first_name"><%=  profile.first_name %>: </span>
        <%=  comment.description %>
      </div>
      <div id="cmtPostedAgo"><%= time_ago_in_words(comment.created_at) %> ago
      </div>
    </div>
  </div>
</div>