
<div class="goal_body">
<% goal_comment = GoalComment.where(goal_id: id) %>
       <% goal_comment.each do |goalcomments| %>
         <% user = User.find(goalcomments.commenter_id) %>
            <% unless user.profile.avatar_file.nil? %>
              <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => user.profile.id),{ :class => "thumb_image",:style => "width:30px;height:30px"} %>
             <%else %>
             <%= image_tag("missing.png",height: 30,width: 30) %>
             <% end %>
          <div class = "goal_comment_ls">
          <label> <%= user.profile.first_name %></label><br>
                 
                  <%=  goalcomments.comment_description %>
          </div>      
              
    <% end %>
</div>