<div class="goal_comment_container">
    <br>
    <h1>Goal Comments</h1>

    <table>
    <% @goals.each do |goals| %><br>
      <tr>
        <td>
          <table>
            <tr>
                <td><%= goals.goal_name %></td>
                <% goal_comment = goals.goal_comment %>
                <% goal_comment.each do | goal_comm| %>
                <% user_id = User.find(goal_comm.commenter_id) %>
                <% prof = user_id.profile %>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td><%= prof.first_name%>:</td>
              <td><%= goal_comm.comment_description %></td>
            </tr>
          </table>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <br/>
    <%= link_to 'New Goal comment', new_goal_comment_path %>
</div>
