<style type="text/css">
  .posted_text, .subject {
      padding-left: 6px;
  }
  p {
      color: white;
  }
</style>
<ul>
   
  <%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>


      <% message = receipt.message %>


      <p><%=  message.body %></p>
  <% end %>
</ul>
<%= button_tag "Reply", :id=> "reply" %>
<div class="reply_form" style="display: none;">
<%= render 'messages/form', conversation: conversation %>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script>
  $('#reply').click(function(){
  $('.reply_form').show();
  $(this).hide();
  });

</script>