<style type="text/css">
  .posted_text, .subject {
      padding-left: 6px;
  }
  p {
      color: white;
  }
</style>
<div id="centerDIV" style="width:600px;margin-left:0px">
  <table>
    <%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>

    <tr>
      <td>
        <% message = receipt.message %>
      </td>
      <td>  
        <%=  message.body %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td>
            <%= button_tag "Reply", :id=> "reply" %>
      </td>      
   
   
  </table>      

<div class="reply_form" style="display: none;">
<%= render 'messages/form', conversation: conversation %>
</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script>
  $('#reply').click(function(){
  $('.reply_form').show();
  $(this).hide();
  });

</script>