<% @users.in_groups_of(2, false) do |lists| %>
    <table>
      <tr>
        <%  for user in lists %>
            <td>
              <table>
                <tr>
                  <% unless user.profile.nil? %>
                  <% unless current_user.following?(user) %>
                      <td>
                        <%= link_to "#{user.profile.first_name}", profile_path(user.profile.id)  %>
                      </td>

                      <td> <%= button_to "Follow", {:controller => :users, :action => :follow,  :id => user.id},:remote => true, :class => "btn" %></td>
                   <% end %>
                   <% end %>
                </tr>
              </table>

            </td>
            </tr>
        <% end %>
        </table>

<% end %>