<% @followee.in_groups_of(2, false) do |lists| %>
    <table>
      <tr>
        <%  for user in lists %>
            <td>
              <table>
                <tr>
                  <td>
                    <%= link_to "#{user.profile.first_name}", profile_path(user.profile.id)  %>
                  </td>

                </tr>
              </table>

            </td>
            </tr>
        <% end %>
        </table>

<% end %>