    <div id="container">
      <table>
        <tr>
          <td><br>
            <div class="tabbable"> <!-- Only required for left/right tabs -->
              <ul class="nav nav-tabs" style = "background-color:#51A2D5;width:980px;">
                <li class="active"><a href="#tab1" data-toggle="tab">Mentees</a></li>
                <li><a href="#tab2" data-toggle="tab" id="followee" >Mentors</a></li>
                <li><a href="#tab3" data-toggle="tab">Peers</a></li>
                <li><%= link_to "Add A Ment....", search_for_user_feedback_index_path, :class => "btn btn-default btn-xs",:id => "profile_edit_btn",:style => "margin-left: 553px", :title => "Click Here To Add Network" %></li>
              </ul>
              <div class="tab-content" style = "width:980px">
                <div class="tab-pane active" id="tab1">
                  <%= render :partial => 'followee' %>
                </div>
                <div class="tab-pane" id="tab2">
                  <%= render :partial => 'following' %>
                </div>
                <div class="tab-pane" id="tab3">

                  <%= render :partial => 'all_users' %>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>