<div><table>
  <tr>
    <td><br>
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs" style = "background-color:#51A2D5;width:870px;">
          <li class="active"><a href="#tab1" data-toggle="tab">Users</a></li>
          <li><a href="#tab2" data-toggle="tab" id="followee" >Mentee</a></li>
          <li><a href="#tab3" data-toggle="tab">Mentors</a></li>
        </ul>
        <div class="tab-content" style = "background-color:BAD996;
                margin-top: -20;margin-left: 0;">
          <div class="tab-pane active" id="tab1">

            <p>
              <%= render :partial => 'all_users' %>

            </p>

          </div>
          <div class="tab-pane" id="tab2">
            <p>

              <%= render :partial => 'followee' %>
            </p>

          </div>
          <div class="tab-pane" id="tab3">
            <p>

              <%= render :partial => 'following' %>
            </p>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
</div>