<div id="footer">
  <div class="footerContent">
    <div>
      <ul id="footer_menu">
        <li class="footer_menu_item">HOME</li>
        <li class="footer_menu_item">PROFILE</li>
        <li class="footer_menu_item">INTERACT</li>
        <li class="footer_menu_item">MESSAGES</li>
        <li class="footer_menu_item">MENTORS</li>
        <li class="footer_menu_item">PATH</li>
        <li class="footer_menu_item" id="btn">FEEDBACK</li>
      </ul>
      <br style="clear:both;"/>
    </div>
    <div class="footer_copy_rights">
      <div class="footer_rights_details">Copyright 2013 Addament  All Rights Reserved</div>
      <div class="footer_privacy_policy">Privacy Policy</div></div>
  </div>
</div>