<div id="container" class="backgroundShadeForContainer">
     <%= render :partial => 'all_goal' %>
  <div id="centerDIV">
    <%= render :partial => 'all_milestone' %>
  </div>
  <div id="rightDIV" style="height:615px;">
    <%= render :partial => 'all_comment' %>

  </div>
</div>


<script>
    $(document).ready(function(){
        $(".mile_stone1").show();
        $(".goal_comment1").show();
        $("#leftDIV li."+1).css("border", "solid 2px #96c953");

    });
</script>

<script>
    function open_form(e)
    {


        for(i = 1; i < 10; i++)
        {
            $('.mile_stone'+ i).css('display', 'none');
            $('.goal_comment'+ i).css('display', 'none');
            $("#leftDIV li").css("border", "solid 2px #51a2d5");

        }

        $('.mile_stone'+ e).css('display', 'block');
        $('.goal_comment'+ e).css('display', 'block');
        $("#leftDIV li."+e).css("border", "solid 2px #96c953");



    }
</script>
<script>
    $('.best_in_place').best_in_place()
</script>