@font-face{
    font-family: itc_avant_garde;
    src: url(/assets/itc_avant_garde-_sdl.woff);
}
@font-face{
    font-family: avenir_next_lt_pro_demi;
    src:url(/assets/avenir_next_lt_pro_demi.woff);
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: itc_avant_garde;
    background: url(main-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.validation-error {
    color:red;
    margin-right:-74px;
}

.bodycontainer{
    position: relative;
    min-height: 500px;
    height: auto;
}

.main_form{
    background-image: url(form-bg.png);
    width: 938px;
    height: 640px;
    border-collapse: collapse;
    /*border: 1px solid #fff;*/
    margin: auto;
}
td{
    /*border: 1px solid #000;*/
}
p{
    font-family:itc_avant_garde;
    font-size: 14px;
    margin-bottom: 10px;
    color: #222;
}
a{
    text-decoration: none;
    color: #4a4a4a;
}
a:hover{
    text-decoration: none;
    color: #000;
}
label{
    font-size: 16px;
    font-family:itc_avant_garde;
    display: inline;
    color: #51a2d5;
    /*background-color: #ff6;*/
}
#centerDIV label{
    line-height: 40px;
}
.input_fld{
    height: 30px;
    width: 275px;
    margin-bottom: 15px;
}
.removeTop{
    height: 91px;
}
.removeLeft{
    width: 94px;
}
.removeRight{
    width: 90px;
}
.removeBottom{
    height: 90px;
}
.ctr{
    height: 155px
}
.ctd{
    width: 180px;
    vertical-align:center;
}

.fildsRow{
    height: 200px;
}
.form_labels_td{
    padding-right: 10px;
    text-align: right;

}
.formTd{
    width: 280px;
}
.shareTd{
    vertical-align: top;
    text-align: center;
}
.sharing_icons_con{
    width: 150px;
    display:inline;
    vertical-align: middle;

}
.sharing_icon{
    width: 38px;
    height: 41px;
    margin-left: -2px;
    margin-bottom: 2px;
}
.form_lbl{
    display: block;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}
h3{
    font-family: avenir_next_lt_pro_demi;
    font-weight: 500;
    font-size: 22px;
    color: #96c953;
    text-align: left;
}
.form_title{
    vertical-align: middle;
    text-align: center;
    padding-bottom: 20px;
    padding-right: 20px;
}
.submit_btn {
    margin-top: 10px;
    color: #000;
    background: #51a2d5;
    border: 0px;
    border-radius: 20px;
    padding: 8px;
    font-size: 16px;
    font-family:itc_avant_garde;
    width: 120px;
    cursor: pointer;
    -webkit-transition: background-color,color 400ms linear;
    -moz-transition: background-color,color 400ms linear;
    -o-transition: background-color,color 400ms linear;
    -ms-transition: background-color,color 400ms linear;
    transition: background-color,color 400ms linear;

}
.submit_btn:hover {
    color: #000;
    background: #96C3E1;
    
}
.label_td{
    margin-right: -60px;
    height: -90px;
    vertical-align: top;
}
/*------------------------profile css----------------- */

#header{
    height: 120px;
    width: 100%;
    margin-top: -4px;
    background-color: #fff;
    border-bottom: 3px solid #222;
}
#header .cen{
    width: 980px;
    margin: 0 auto;
    padding-top: 20px;
}
#header .header_content{
    width: 980px;
    margin: 0 auto;
}
#logo_link{
    float: left;
}
.header_logo{
    padding-top: 15px;
    float: left;
}

#menu{
    list-style-type: none;
    display: inline-block;
    float: left; margin-top: 40px;
    font-size: 50px;
}

#menu .menuItem{
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #51a2d5;
    /*cursor: pointer;*/
    margin-left: 10px;
    padding-left: 5px;
}
#menu .menuItemSelected{
    color: #96c953;
    cursor: default;
}
#header .userDet{
    font-size: 11px;
    color: green;
    display:inline-block;
    margin-top: 0px;
    margin-left: 2px;
    list-style-type: none;
    width: 180px;
    float: left;
    margin-top: 38px;
    margin-left: 5px;
}
#header .userDet img{
    float: left;
    padding-right: 5px;
    margin-top: -5px;
}
#header .srch{
    background: url(/assets/search.gif) no-repeat transparent;
    background-position:right;
    margin-left:20px; 
    height:20px;
    display: list-item; 
    float:left; 
    color: #444444;
    margin-top:-3px;
    width: 140px;
    border: 1px solid #bbb;
    padding-right: 20px;
    margin-top: 30px;
}

.navbar-search {
    margin-left: 8px;
    margin-top: 0px;
    position: relative;
}

.navbar-search .search-query {
    padding-left: 10px !important;
    background:#e1e1e1;
    height:20px;
}
.navbar-search .icon-search {
    position: absolute;
    top: 7px;
    float:right;
    right: 11px;
}

.header_search_box{
    margin-left: 55px;
    margin-top: -42px;
}

input[type="search"]:focus{
    border-color: rgba(0, 0,0, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(0, 0, 0, 0);
}
.header_search{
    margin-top: -10px;

}
#notifi{
    margin-top: 40px;
    float: right;
}
#notifi img{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;

}
#notifi .notification{
    display: list-item;
    font-size: 10px;
    font-weight: bold;
    color: #96c953;
    margin-left: -53px;
    /*border: 1px solid #333;*/
    width: 40px; height: 35px;
    list-style: none; padding: 1px;
    background: url(/assets/tooltip.png) no-repeat;
    background-size: 38px 30px;
    background-position: 0px -0px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: -5px;
    float: left;
    margin-top: -25px;
}

/* Footer CSS Start */
#footer{
    background-color: #222;
    height:116px;
    width: 100%;
    background:url(footer-bg.jpg);
    background-repeat: repeat-x;
    /*margin-top:311px;*/
}
.footerContent{
    width: 980px;
    margin: 0 auto;
}
.footerContent #footer_menu{
    font-size: 10px;
    font-weight: bold;
    display: block;
    padding-top: 40px;
}
#footer_menu .footer_menu_item{
    list-style-type: none;
    display: list-item;
    float: left;
    color: #4a4a4a;
    padding-right: 20px;
    cursor: pointer;
}
#footer_menu li:after{
    padding-left: 10px;
    content: " | "
}
#footer_menu li:last-child:after{
    content: ""
}
.footerContent .footer_copy_rights{
    font-size: 10px;
    font-weight: bold;
    color: #4a4a4a;
    margin-left: 0;
    margin-top: 5px;
    border-top: 1px solid #4a4a4a;
}
.footer_rights_details{
    margin-top:5px;
}
.footer_privacy_policy{
    float:right;
    margin-right: 0px;
    margin-top: -25px;
    margin-left: 90px;
}

/* Footer CSS End*/

#profile_con_tbl{
    width: 980px;
    margin: 0 auto; margin-top: 30px;
    border-collapse: collapse;
    align:center;

}

#profile_con_tbl .tabHeader{
    width: 100%;height: 95px;
    background-color: #fff;
}
#profile_con_tbl #editProfile{
    background: url(/assets/editprofile.gif) no-repeat;background-position: 20px 26px;
    height: 54px;
    background-color:#51a2d5; 
    margin: 18px;color: #222;
    line-height: 65px;
    padding-left: 60px;
}
.profileCompTrg{
    height: 30px;width: 350px;
    margin-top: -54px;
    position:absolute;
    margin-left: 590px;
    line-height: 27px;
    font-size: 12px;
    padding-left: 10px;
    color: #51a2d5; 
    font-weight: bold;
}
#profile_con_tbl .personal{
    background-color: #fff;
    vertical-align: text-top;
}
#profile_con_tbl .professional{
    background-color: #fff;width: 485px;
    vertical-align: text-top;
}
#profile_con_tbl .tdGradent{
    background-repeat: repeat-x;
}
td{
    /*border: 1px solid #bbb;*/
}
/* ----------------------------------------------- ----        PERSONAL TABLE ... -----------------------------------------  */
#personalTbl{
    width: 425px; border-collapse:collapse;
    /*border: 1px solid #222;*/
    margin: 0 auto;margin-top: 30px;
    font-size: 12px;
}
#personalTbl tr:nth-child(odd) td{
    background: rgba(159,202,107,.85);
}
#personalTbl tr:nth-child(even) td{
    background: rgba(159,202,107,.70);
    background-size: 425px 40px;
}
#personalTbl td{
    padding:5px;
    vertical-align:middle;
    text-align: right;
    color: #222;
    border-bottom: 2px solid #fff;
}

#personalTbl input[type="text"]{
    height: 30px;width: 295px;
    margin-left: 5px;
}
#personalTbl textarea{
    height: 90px;width: 295px;
    border: none; resize: none;
    margin-left: 5px;
}
#personalTbl .exmp{
     background-color:#fff; 
     height:30px;
     text-align: right;
     padding-right:7.5px;
     /*color:#9fca6b;*/
     font-size: 11px;
}
#personalTbl .btns{
    height: 30px;
    color: #fff;
    background: #51A2D5;
    border: 0px;
    border-radius: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1em;
    font-family: itc_avant_garde;
    cursor: pointer;
    -webkit-transition: background-color,color 400ms linear;
    -moz-transition: background-color,color 400ms linear;
    -o-transition: background-color,color 400ms linear;
    -ms-transition: background-color,color 400ms linear;
    transition: background-color,color 400ms linear;
}
#personalTbl .updateProfile{
    background: url(/assets/updateprofile.gif) no-repeat;background-position: 15px;
    width:140px;height:30px;
    color: #fff;background-color: #51a2d5;
    border: 0px;border-radius: 20px;
    padding: 2px;font-size: 13px;
    font-weight: bold; letter-spacing: 1px;
    padding-left: 40px;padding-right: 20px;
    font-family: itc_avant_garde;
    cursor: pointer;
}
#personalTbl .chooseFile{
background: url(/assets/choosefile.gif) no-repeat;background-position: 15px;
    width:140px;height:30px;
    color: #fff;background-color: #96c953;
    border: 0px;border-radius: 20px;
    padding: 2px;font-size: 13px;
    font-weight: bold; letter-spacing: 1px;
    padding-left: 40px;padding-right: 20px;
    font-family: itc_avant_garde;
    cursor: pointer;
}
/* -------------------------------------------------        PROFESSIONAL TABLE..---------------------------------------*/
#professionalTbl{
    width: 425px; border-collapse:collapse;
    /*border: 1px solid #222;*/
    margin: 0 auto;
    font-size: 12px;
    margin-top: 30px;
}

#professionalTbl tr:nth-child(odd) td{
    background-color: #fff;
    background: rgba(105,169,212,.85);
    margin-bottom: 1px;
}
#professionalTbl tr:nth-child(even) td{
    background: rgba(105,169,212,.70);
    background-size: 425px 39px;
}
#professionalTbl td{
    padding:5px;
    vertical-align:middle;
    text-align: right;
    color: #222;
    border-bottom: 2px solid #fff;
}

#professionalTbl input[type="text"]{
    height: 30px;width: 295px;
    margin-left: 5px;
}
#professionalTbl textarea{
    height: 90px;width: 295px;
    border: none; resize: none;
    margin-left: 5px;
}
#professionalTbl .exmp{
     background-color:#fff; 
     height:30px;
     text-align: right;
     padding-right:7.5px;
     /*color:#69a9d4;*/
}
.tableHeaders{
    height: 50px;
    vertical-align: text-top;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
.fileUploadButtonContainer {
    position: relative;
    width: 125px;
    height: 30px;
    overflow: hidden;
}

input[type="file"]{
    -webkit-appearance: none;
    text-align: left;
    -webkit-rtl-ordering:  left;
}

input[type="file"]::-webkit-file-upload-button{
    width: 120px;
    height: 30px;
    position: absolute;
    top: 0px;
    background-color: #9ECA6B;
    border-radius: 15px;

    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    border: none;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: lowercase;
    cursor: pointer;
}​
.btn3{
    color: #fff;
    background: #9ECA6B;
    border: 0px;
    border-radius: 20px;
    padding: 2px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    font-family: itc_avant_garde;
    cursor: pointer;
    -webkit-transition: background-color,color 400ms linear;
    -moz-transition: background-color,color 400ms linear;
    -o-transition: background-color,color 400ms linear;
    -ms-transition: background-color,color 400ms linear;
    transition: background-color,color 400ms linear;

}


/*------------------------------------------------dashboard css---------------------------------------------------------------  */

td{
    /*border: 1px solid #bbb;*/
}
/*  ------------------------------------           TOP DIV          -----------------------------------------------  */
#topDIV{
    width: 980px; height: 440px;
    background: rgba(1,1,1,.01);
    margin: 0 auto;margin-top: 25px;
    position: relative;
}
/*  ------------------------------------           BOTTOM DIV       ----------------------------------------------  */
#bottomDIV{
    width: 980px; height: 565px;
    background: rgba(0,0,0,.01);
    /*border: 1px solid #9f9f9f;*/
    margin: 0 auto; padding: 50px; padding-bottom: 0px;

    background: url(/assets/div-bg.png), url(/assets/div-bg-2.png);
    background-repeat: repeat-x;
    background-position: left top, left bottom;
    position: relative;
}
#feedsDiv{
    height: 400px;width: 390px;
    border: 20px solid #f2f2f2;
    background: rgba(242,242,242,1);
    position: absolute;float: left;
}
#activityDiv{
    height: 400px;width: 490px;
    background: rgba(242,242,242,1);
    border: 20px solid #f2f2f2;
    position: absolute;float: left;
    margin-left: 450px;
    overflow: hidden;
}
#newsFeedsDiv{
    height: 380px;width: 490px;
    /*background: rgba(150,201,83,1);*/
    border: 20px solid #96c953;
    background: rgba(255,255,255,1);
    position: absolute;float: left;
}
#dashboardDiv{
    height: 380px;width: 390px;
    background: rgba(242,242,242,1);
    border: 20px solid #f2f2f2;
    position: absolute;float: left;
    margin-left: 550px;
}
/**/
#activityDiv h3{
    margin-top: 0px; /* naveen code */
    background: url(/assets/activity.gif)no-repeat;
    padding: 20px; padding-left: 50px;
    background-color:#51a2d5;
    color: #fff;font-size: 18px;
    font-weight: 100;
    background-position: 25px, 20px;
    font-family: avenir_next_lt_pro_demi;
}
#activityDiv #activityUL{
    list-style: none;
}
#activityUL .activityLI{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
    margin-left:-45px; /* naveen code */
    min-height: 50px;
}
#activityUL .activityLI:after{
    content: "";
    clear: both;
}
#activityUL .activityLI:last-child{
    border: none;
}
.thumb_image {
    width: 70px;
    height: 70px;
}

.activityLI img{
    float: left;
    padding-right: 10px;
    padding-bottom: 20px;
}
#feedsDiv label, p{
    margin-left: 5px;
}
#container p{
    color: #999;
    font-size: 12px;
    font-family: avenir_next_lt_pro_demi;
}
.activityLI ul{
    list-style: none;
    font-size: 10px;
    font-weight: bold;
}
.activityLI li{
    float: left;
    color: #96c953;
    /*padding-left: 8px;*/
    padding-right: 8px;
    list-style:url(/assets/dot.png);
    /*margin-left: 10px;*/
}
.activityLI li:first-child{
    list-style:none;
}
/*-----------------------------*/
#networkDiv{
    width: 190px; height: 185px;
    /*background-color: #ffc;*/
    position: absolute;
    overflow: hidden;
    margin-top: -20px;
}
#chatUpdatesDiv{
    width: 190px;height: 240px;
    /*background-color: #ffa;*/
    position: absolute;
    margin-top: 160px;
    overflow: hidden;
}
#messagesDiv{
    width: 190px;height: 240px;
    /*background-color: #ff8;*/
    position: absolute;
    margin-left: 200px;
    overflow: hidden;
    margin-top: -20px;
}
#messagesDiv a{
    color:#51A2D5;
}
#todoListDiv{
    width: 190px;height: 240px;
    /*background-color: #ff6;*/
    position: absolute;
    margin-left: 200px;
    margin-top: 170px;
    overflow: hidden;
}




#container h2{
    font-size: 18px;
    font-family: avenir_next_lt_pro_demi;
    color: #96c953;
    width: 180px;
    padding: 10px;
    text-align: left!important;
}
#feedsDiv .network_li{
    width: 170px; height: 30px;
    background-color: #fff;
    list-style: none;
    margin-top: 2px;padding-left: 10px;
    line-height: 30px; color: #51a2d5;
    font-weight: bold;
    font-size: 12px;
    margin-left: -26px;
}
#feedsDiv .net_count{
    float: right;
    margin-right: 70px;
    color: #bbb;
}
#feedsDiv .networkH2{
    background: url(/assets/network.gif)no-repeat;
    background-position: 0px, 20px;
    padding-left: 25px;
}
#feedsDiv .chatUpdatesHk2{
    background: url(/assets/chat-updates.gif)no-repeat;
    background-position: 0px, 20px;
    padding-left: 25px;
}
#feedsDiv .todoListH2{
    background: url(/assets/todolist.gif)no-repeat;
    background-position: 0px, 20px;
    padding-left: 25px;
}
#feedsDiv .messagesH2{
    background: url(/assets/messages.gif)no-repeat;
    background-position: 0px, 20px;
    padding-left: 25px;
}
#newsFeedsDiv .newsfeedsH2{
    margin: 0px; padding: 0px;
    /*padding: 20px;*/
    background: url(/assets/newsfeeds.gif)no-repeat;
    background-position: 20px, 20px;
    padding-left: 50px;
    padding-bottom: 0px;
    margin-top: 0px;
}
#messagesDiv p{
    padding-bottom: 5px;
}
#todoListDiv p{
    padding-bottom: 5px;
}
#todoListDiv .time{
    font-size: 16px;
    padding-bottom: 0px;padding-top: 0px;
}
#newsFeedsDiv label{
    padding-left: 20px; padding-right: 20px;
}
#newsFeedsDiv p{
    padding-left: 15px; padding-right: 20px;
}
#newsFeedsDiv  #slideShow{
    margin: 0px;padding: 0px;
    margin-left: -0px;
    width: 490px;height: 189px;
}
#newsFeedsDiv  #slideShow image{
    margin-left: -10px;
}
#newsFeedsDiv .thumbs{
    list-style: none;
    margin-top: -20px;
    margin-left: 0px;
}
#newsFeedsDiv .thumb{
    float: left;
    margin-left: 15px;
    cursor: pointer;
}
#dashboardDiv #avatar{
    width: 120px; height:auto;
    position: absolute;
    float: left;
}
#dashboardDiv #assoAndPV{
    width: 250px; height:150px;
    position: absolute;
    float: left;
    /*background-color: #fcf;*/
    margin-left: 127px;
}
#associations{
    position: absolute;
    float: left;
}
#profile_views{
    position: absolute;
    float: left;
    margin-left: 130px;
}
#assoAndPV label{
    font-size: 15px;
    display:block;
    font-weight: bold;
    /*border: 1px solid #000;*/
}
#assoAndPV ul{
    list-style-type: none;
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 0px; /*naveen code*/
}
#assoAndPV li{
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: bold;
}
#assoAndPV span{
    width: 30px; height: 25px;
    display: inline-block;
    line-height: 30px; text-align: center;
    background-color: #fff; color: #fff;
    margin-right: 5px;
}
#user_info{
    float: left;
    width: 110px;
    margin-top: 16px;
}
#dashboardDiv p{
    margin-left: 0px;
    padding-bottom: 5px;
}
#meeting{
    float: left;
    position: absolute;
    margin-top: 150px;
    margin-left: 128px;
}
#meeting li{
    list-style: none;
    width:250px;height: 45px;
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}
#meeting li:first-child{
    background-color: #54a1d5;
    border-bottom: none;
    line-height: 40px;
    color: #fff;font-weight: bold;
    cursor: default;
}
#meeting li label {
    font-size: 10px;
    padding-top: 4px;
    padding-left: 5px;
}
#meeting li p {
    font-size: 10px;
    padding-left: 5px;
    color: #96c953;
}
#requests{
    float: left;
    position: absolute;
    margin-left: 0px;
    margin-top: 320px;
}
#requests ul{
    margin-top: -5px;
    margin-left: 20px;
}
#requests li{
    margin: 0px; padding: 0px;
    margin-left: -20px;
    list-style: none;
    float: left;
    width: 135px;
    background-color: #fff;
    border-left: 1px solid #f2f2f2;
}
#requests li label{
    margin: 0px; padding: 0px;
    color:#96c953;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
}
#requests li p{
    margin: 0px; padding: 0px;
    padding-left: 0px;
    color: #54a1d5;
    font-size: 11px;
}
.profile_img {
    width: 25px;
    height: 25px;
    margin-top: -12px;
}

/*---------------------path css--------------------*/



#container{
    width: 980px; 
    margin: 0 auto;margin-top: 30px;
    background: url(../images/div-bg.png) repeat-x;
    background-position: left bottom;
    background-color: transparent;
    position: relative;
}
#container:after{
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0px;
}
#leftDIV{
    background-color:#fff;
    float: left;
    position: relative;
    float: left;
    height: 615px;
    width: 240px;
    padding: 20px;
}
#centerDIV{
    background-color:#fff;
    float: left;
    position: relative;
    float: left;
    width: 360px;
    padding: 20px;
    text-align: center;
    height: 615px;
    margin-left: 10px;
}
#rightDIV{
    background-color:#fff;
    float: left;
    position: relative;
    float: left;
    height: 615px;
    width: 240px;
    padding: 20px;
    margin-left: 10px;
}
/* -------------------- LEFT DIV ------------------ */
#leftDIV li{
    width: 240px;
    height: 136px;
    background-color: #54a1d5;
    list-style: none;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
#leftDIV li:first-child{
    background-color: #96c953;
}
#leftDIV li label{
    display: block;
    padding-top: 55px;
    padding-bottom: 0px;
}
#leftDIV li p{
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}
/* -------------------- RIGHT DIV ------------------ */
#rightDIV h2{
    background: url('/assets/activity.gif')no-repeat;
    background-position: 20px ;
    background-color: #54a1d5;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    padding-left: 48px;
    margin-top: -8px;
    /*naveen code*/
}
#rightDIV li{
    list-style: none;
    border-bottom: 1px solid #ccc;
    clear: both;
    font-weight: bold;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-left: -24px; /*naveen code*/
}
#rightDIV li:last-child{
 border: none;
}
#rightDIV img{
    float: left;
    padding-right: 10px;
}
#rightDIV li label{
    font-size: 11px;
    list-style: none;
    display: block;
    color: #54a1d5;
    margin-top: -4px;
}

#rightDIV li p{
    font-size: 10px;
    text-align: justify;
    font-weight: bold;
    color: #686868;
    padding-top: 2px;
    padding-bottom: 3px;
    font-family:itc_avant_garde;
}
/* -------------------- CENTER DIV ------------------ */
#centerDIV label{
    display: block;
}
#centerDIV .roundCornDiv{
    position: absolute;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    line-height: 40px;
    margin-left: 100px;
    background-color: #fff;
}
#centerDIV .stepDiv{
    position: absolute;
    width: 180px;
    height: 40px;
    background-color: #96c953;
    line-height: 40px;
    margin-left: 90px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}
#centerDIV .mileStone{
    position: absolute;
    width: 260px;
    height: 40px;
    background-color: #54a1d5;
    line-height: 40px;
    margin-left: 50px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
}
#centerDIV #lineDiv{
    position: absolute;
    width: 1px;
    height: 520px;
    background-color: #ccc;
    margin-left: 180px;
    margin-top: 43px;
    display: none;
}
#centerDIV .btn {
    color: #fff;
    background: #51a2d5;
    border: 0px;
    border-radius: 20px;
    padding: 5px;
    font-size: 13px;
    font-family:itc_avant_garde;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
}




/* -------------------------------------- HEADER AND FOOTER SECTION END. ---------------------------*/
#bioDIV{
    width: 960px;
    padding: 10px;
    margin-top: 10px;
    position: absolute;
    background-color: #fff;
}
#bioDIV h2{
    background-color: #51a2d5;
    color: #fff;font-size: 14px;
    padding: 5px;
    width:150px;
    margin-left: -10px;
    margin-top: -10px;
    padding-left: 20px;
}

.profDIV{
    width: 960px;
    padding: 10px;
    margin-top: 322px;
    position: absolute;
    background-color: #fff;
}
#profDIV h2{
    background-color: #51a2d5;
    color: #fff;font-size: 14px;
    padding: 5px;
    width:150px;
    margin-left: -10px;
    margin-top: -10px;
    padding-left: 20px;
}
#follfDIV{
    width: 960px;
    padding: 10px;
    margin-top: 10px;
    position: center;
    background-color: #fff;
}
#follfDIV h2{
    background-color: #51a2d5;
    color: #fff;font-size: 14px;
    padding: 5px;
    width:150px;
    margin-left: -10px;
    margin-top: -10px;
    padding-left: 20px;
}
#ppfDIV {
    width: 960px;
    padding: 10px;
    margin-top: 300px;
    position: center;
    background-color: #fff;
}

.qtn {
    width: 150px;
    display: inline-block;
    /*background-color: #ffa;*/
    margin-bottom: 3px;
    height: 30px;line-height: 30px;
    padding-right: 10px;
    margin-left: 180px;
    font-size: 13px; font-weight: bold;
    color: #51a2d5;
}

.ans{
    font-size: 13px; font-weight: bold;
    color: #96c953;
}


/*------------------------posts css-----------------------------*/
.post_slide{
    background-color:#fff;
    float: left;
    position: relative;
    width: 650px;
    padding: 20px;
    text-align: center;
    height: 360px;
}
.post_textarea{
    width: 560px!important;
    height: 102px;
    margin: 5px;
}
.thumb_image_post{
    height: 99px;
    width: 92px;
    margin-left: 9px;
}
.thumb_image_f_post{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
#actl_cmt_user_click{
    position: relative;
}
#actl_cmt_user_click img{
    position: absolute;
    display: inline-block;
    margin: 5px;
}
#actl_cmt_user_click label{
    display: inline-block;
    position: relative;
    margin-top: 5px;
    /*margin-left: 80px;*/
}
#actl_cmt_user_click p{
    display: inline-block;
    width: 890px;
    position: relative;
    margin-left: 80px;
    color: #000;
}

#rightSideDiv{
    width: 250px;
    position: relative;padding: 10px;
    float: right; margin-left: 10px;
    background: white;
    border-top: 1px solid rgba(9,9,9,.9);
    border-left: 1px solid rgba(11,11,11,.9);
    border-right: 1px solid rgba(15,15,15,.9);
    border-bottom: 1px solid rgba(100,100,100,.9);

}

#rightSideDiv h2{
    font-size: 12px;
    background-color: #96c953;
    padding: 12px; color: #fff;
    font-weight: bold;
    text-align: center !important;
    margin-left: 23px;
}
#rightSideDiv ul{
    /*margin-top: -20px;*/
    background-color: #fff;
    padding: 15px;
}
#rightSideDiv li{
    list-style: none;
    margin-top: 15px;
    padding-bottom: 10px;
}
#rightSideDiv li label{
    font-size: 12px;
    color: #96c953;
    font-weight: bold;
}
#rightSideDiv li img{
    float: left;
    padding-top: 5px;
    padding-right: 10px;
}
#rightSideDiv li p{
    font-size: 10px;
    color: #747474;
    font-weight: bold;
    text-align: justify;
}
.post_comment{
    width:640px!important;
}
.post_status{
    width:690px;
    position: relative;
    height:160px;
    margin-left:0;
    background-color:#51A2D5;
}
.post_curcomment{
    width:640px;
    /*height:625px;*/
    margin-left:0;
    margin-top: 0px;
    background-color: #ffffff;
}
.postbtn {
    color: #fff;
    background: #96C953;
    border: 0px;
    padding: 2px;
    font-size: 13px;
    font-family:itc_avant_garde;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
}
#cover_tit_div{
    width: 690px; height: 100px;
    background-color: rgba(255,255,255,.5);
    position: absolute;margin-top: -105px;
}

#cover_tit_div h1{
    font-size: 18px;
    padding: 20px;
    padding-bottom: 5px;
    color: #54a1d5
}
#cover_tit_div p{
    font-size: 12px;
    color: #222; font-weight: bold;
    padding: 0px 20px;
}
#cover_tit_div label a{
    font-size: 12px;
    color: #96c953; font-weight: bold;
    padding: 0px 20px; letter-spacing: 1px;
    float: left; position: absolute;
    bottom: 10px;
}


#h_t_l_div{
    position: absolute;
    width: 690px; height: 400px;
    background-color: #fff;
}
#ppl_m_kn_div h2{
    font-size: 12px;
    background-color: #96c953;
    padding: 12px; color: #fff;
    font-weight: bold;
    margin-top: -4;
}
#ppl_you_know_con_div{
    height: 310px; overflow: hidden;
    width: 250px; margin-top: 10px;
}
#ppl_you_know_con_div ul{
    list-style: none;
}
#ppl_you_know_con_div li{
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #464646;
}
#ppl_you_know_con_div li img{
    float: left; 
    padding-right: 10px;padding-top: 5px;
}
#ppl_you_know_con_div .pp_sug_name{
    font-size: 11px; font-weight: bold;
    color: #96c953;letter-spacing: 1px;
    display: block;
    margin: 5px;
}
#ppl_you_know_con_div li p{
    font-size: 10px; font-weight: bold;
    color: #ccc;
    /*letter-spacing: 1px;*/
}
#ppl_you_know_con_div .addToNetworkLabel{
    font-size: 10px; font-weight: bold;
    color: #54a1d5;
    letter-spacing: 1px;
    display:block;
}

.profile_image{
    width: 90px;
    height: 99px;
}


/*CSS for Feedback*/

#feedback{
    background-color: #222;
    width: 300px; height: 400px;
    display: none;
    border-top-left-radius: 16px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.4)
}
.feedback_popup{
    display: block;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
#btn{
    /*position: absolute;*/
    /*background-color: #222;*/
    /*padding: 5px;bottom: 0px;*/
    right: 0px;cursor: pointer;
    color: #fff;
}
#clsoe_btn{
    background-color: #222;
    width: 30px; height: 30px;
    position: absolute;
    margin-left: 270px;
    margin-top: -29px;
    text-align: center;
    line-height: 30px;
    font-family:monospace;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}
#feedback p{
    text-align: center;
    color: #fff;
    padding: 6px;
}
#form_feedback{
    margin-top: -43px;
    height: 245px;
}
#feedback_button {
    color: #fff;
    background: #999;
    border: 0px;
    border-radius: 20px;
    padding: 5px;
    font-size: 13px;
    font-family: itc_avant_garde;
    width: 80px;
    cursor: pointer;
    font-weight: bold;
    margin-top: -5px;
    margin-left: 61px;
}
#form_feedback .fld_bg{
    background-color: #333;
    border-radius: 5px;
    width: 240px;
    margin-top: 2px;
    padding: 10px; margin-left: 20px;
}
#form_feedback .fld_bg label{
    padding: 0px; margin: 0px;
    color: #fff;display: inline-block; margin-left: 5px;
    cursor: pointer;
    width: 220px;
}
#feed_text_area{
    margin-top: 10px;
    resize:none;
    width: 240px;height: 90px;
}
hr.style-one {
    border: 1px dotted #333;
}

/*end of CSS for Feedback*/


/*######################################  MESSAGE PAGE BEGIN.  ######################################*/
#message_page_container{
    width: 980px;
    margin: 0 auto;margin-top: 30px; margin-bottom: 30px;
    position: relative;
}
.msg_conv{
    width:600px;
    background-color:#fff;
    float: left;
    position: absolute;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}
/* -------------------------------------- CONTAINER DIV SECTION END. ---------------------------*/
.new_conversation {
    -moz-transition: background-color 0s ease 0s, color 400ms linear 0s;
    background: none repeat scroll 0 0 #51A2D5;
    border: 0 none;
    border-radius: 20px 20px 20px 20px;
    width: 135px;
    text-align: center;
    line-height: 26px;

}
#messages_title_div{
    width: 710px;height: 40px;
    position: absolute;;
    background: rgba(0,0,0,.4);
    border-top: 1px solid rgba(9,9,9,.9);
    border-left: 1px solid rgba(11,11,11,.9);
    border-right: 1px solid rgba(40,40,40,.9);
    border-bottom: 1px solid rgba(100,100,100,.9);
}
#message_prog{
    width: 280px;
    height: 30px;
    background-color: #54a1d5;
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}
#message_prog .messages_count{
    background: url('/assets/message_count_bg.png') no-repeat;
    background-position: 0px 0px;
    width: 37px;height: 30px;
    display: block;position: absolute;
    margin-top: -30px;
    margin-left: 248px;
    padding-left: 13px;
    color: #54a1d5;
}
#message_prog p{
    height: 30px;color: #fff;
    padding-left: 25px;
}
/* ---------------------------- MESSAGES SECTION -----------------------*/
#messages{
    position: absolute;
    margin-top: 70px;
    width: 710px;
}
#messages_ul{
    list-style: none;
    margin-left: 10px;
}
#messages_ul li{
    height: 185px;
    margin-left: -10px;
    float: left;
    background-position:120px -2px;
    margin-bottom: 20px;
    width: 201px;
}
#pin_image{

}

#messages_ul li label{
    font-size: 12px;
    display: block;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 15px;
    margin-top: 20px;
    text-decoration: underline;
}

#messages_ul li ul li:nth-child(even){

    margin-top: 10px;
}

#messages_ul li p{
    font-size: 10px;
    color: #fff;
    letter-spacing: 1px;
    text-align: justify;
    margin-top: 10px;
    margin-left: 20px;
    /*border: 1px solid #000;*/
    width: 150px;
}
/*######################################  MES

*/

ul#pinned_message{
    list-style-type: none;
}
.medium_image {
    width:50px;
    height: 50px;
}
.see_all{
    text-align:center;
    color:#ccc;
    font-size:12px;
    padding-top:5px;
    letter-spacing:1px;
    cursor:pointer;
    margin-left: 102px;
}
.search_container{
  background-color: #fff;
    min-height: 100px;
    width: 980px;
}
.search_user{
    font-size: 14px;
    padding: 5px;
    width: 270px;
    margin-left: -10px;
    margin-top: -10px;
    padding-left: 20px;
}
.search_details_heading{
    margin-left:10px;
    padding:5px 5px 2px 2px;
    width:300px;
    font-weight:bold;
    text-align:center;
    color: white;
    background-color: #51a2d5;
}

.search_results_details{
    margin-left:10px;
    margin-top:10px;
}
.spaceunder{
    height: 50px;
}
.goal_comment_container{
    background-color: white;
    height: auto;
    width: 1000px;
}
.todo_list{

    float: left;
    position: absolute;
    padding: 20px;
    text-align: center; 
    background:#ffffff;
    width:800px;
    height: 200px;
}

#topDIV_about{
    background: rgba(1,1,1,.01);
    margin: 0 auto;margin-top: 25px;
    position: relative;
    background-color:#ffffff;
    height: 99;
    width:980px;
    margin-left:0px
}
#about_td{
    width:90px;
    height: 99px;
    vertical-align: top;
}

.qtntab {
    width: 150px;
    display: inline-block;
    /*background-color: #ffa;*/
    margin-bottom: 3px;
    height: 30px;line-height: 30px;
    padding-right: 10px;
    font-size: 13px; font-weight: bold;
    color: #51a2d5;
}

.qtnlb {
    width: 150px;
    display: inline-block;
    /*background-color: #ffa;*/
    margin-bottom: 3px;
    height: 30px;line-height: 30px;
    padding-right: 10px;
    font-size: 22px; font-weight: bold;
    color: #000000;
}
.anstab {
    font-size: 13px; font-weight: bold;
    color: #96c953;
}

/*-----goal comments--------------------*/

.goal_comment_container{
    background-color: white;
    height: auto;
    width: 1000px;
}
.goal_header{
    color: #96c953;
    margin-left:10px;
    font-size: 18px;
    padding-top: 40px;
}
.goal_commenter_image{
    width: 50px;
    height: 50px;
    margin-left: 35px;
    padding: 4px;
}
.goal_commenter{
    color: #51a2d5;
    font-size: 16px;
}
.goal_comment_content{
    margin-top:-30px;
    width:800px;
    display: block;
    text-align: left;
    margin-left: 90px;
}
.goal_body{
    margin-left: 80px;
    margin-top: 12px;
}
.g_commenter_photo{
    margin-top:10px;
}
.goal_ppf{
    margin-left: 80px;
    /*margin-top: -80px;*/
    color: #31A5DB;

}
.goal_name{
    font-size: 14px;
    color: #96c953;
    margin-top:10px;
}
/*-----------------------------------------------------------------------------------------*/


#h_sep_div{
    background-color: #fff;
    width: 100%;height: 100px;
    background: url(div-bg.png)repeat-x;
    position: absolute;
    margin-top: 400px;
}

#h_top_div{
    /*background-color: #fff;*/
    position: relative;

}
#h_top_div:after{
    content: "";
    display: block;
    clear: both;
}
#h_t_r_div{
    position: relative;
    float: right;
}
#h_bottom_div{
    position: relative;
    margin-top: 40px;
}
#posts_div{
    position: relative;
}
#h_t_l_div{
    position: relative;
    width: 600px; height: 400px;
    background-color: #fff;
}
#ppl_m_kn_div{
    width: 250px; height: 380px;
    position: relative;padding: 10px;
    float: left;
    background: rgba(0,0,0,.4);
    border-top: 1px solid rgba(9,9,9,.9);
    border-left: 1px solid rgba(11,11,11,.9);
    border-right: 1px solid rgba(15,15,15,.9);
    border-bottom: 1px solid rgba(100,100,100,.9);
    margin-left: 10px;
}
#ppl_m_kn_div h2{
    font-size: 12px;
    background-color: #96c953;
    padding: 12px; color: #fff;
    font-weight: bold;
    width: 230px !important;
}
#ppl_you_know_con_div{
    height: 310px; overflow: hidden;
    width: 230px; margin-top: 10px;
}
#ppl_you_know_con_div ul{
    list-style: none;
}
#ppl_you_know_con_div .post_list_item{
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #464646;
    float: none;
    min-height: 50px;
}
#ppl_you_know_con_div .post_list_item:after{
    content:'';
  /*  clear: both;
    height: 0;
    visibility: hidden;*/
}
#ppl_you_know_con_div li label{
    font-size: 11px; font-weight: bold;
    color: #96c953;letter-spacing: 1px;
}
#ppl_you_know_con_div li p{
    font-size: 10px; font-weight: bold;
    color: #ccc;
    /*letter-spacing: 1px;*/
}
#ppl_you_know_con_div li a{
    font-size: 10px; font-weight: bold;
    color: #54a1d5;
    letter-spacing: 1px;
}
#cover_tit_div{
    width: 650px; height: 100px;
    background-color: rgba(255,255,255,.5);
    position: relative;margin-top: -109px;
}
#cover_tit_div h1{
    font-size: 18px;
    padding: 20px;
    padding-bottom: 5px;
    color: #54a1d5
}
#cover_tit_div p{
    font-size: 12px;
    color: #222; font-weight: bold;
    padding: 0px 20px;
}
#cover_tit_div label a{
    font-size: 12px;
    color: #96c953; font-weight: bold;
    padding: 0px 20px; letter-spacing: 1px;
    float: left; position: absolute;
    bottom: 10px;
}

#post_items_div #posts_ul .post_list_item:last-child{
    height: 30px;
}
#posts_ul .share_info{
    list-style: none;
}
#posts_ul .share_info li{
    float: left;
}
/*---------------------------------------------*/
#posts_ul .post_list_item .share_info{
    list-style: none;
    font-weight: bold;
    

}
#posts_ul .post_list_item .share_info li{
    float: left;
    color: #96c953;
    /*padding-left: 8px;*/
    padding-right: 8px;
    list-style:url(../images/dot.png);
    margin-left: 10px;
    font-size: 10px;
}
#posts_ul .post_list_item .share_info  li:first-child{
    list-style:none;margin-left: -3px;
}
#new_post_avt_img{
    float: left;
    margin-left: 20px;
}
#new_post_text_area{
    width: 470px; height: 85px;
    margin-left: 30px;margin-top: 20px;
}
#newpost_btns_con {
    /*background-color: #ffa;*/
    width: 210px; height: 35px;
    position: absolute;
    margin-top: 10px;
    margin-left: 470px;
}
#newpost_btns_con .btn {
    color: #fff;
    background: #51a2d5;
    border: 0px;
    padding: 2px;
    font-size: 13px;
    font-family:itc_avant_garde;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}
#users_posts{
    float: left;
}
/*-----------------------------------------------------------------------------------------*/
#show_todo{
    width:960px;
    height:450px;
    background:#ffffff;
    margin-top: 30px;
}
#show_todo table{
    position: center;
    width:500px;
    margin-left:360px;
}
#show_todo tr{
    line-height: 66px;
}
#show_todo h2{
    font-family: bold;
    color:#A5CC5A;
    width: 100%!important;
    text-align: center!important;
    font-size: 22px!important;
}
#show_todo_list {
    width:960px;
    background-color:#ffffff;
    margin-left:20px;
    margin-top: 30px;
    
}
#show_todo_list h2{
  width: 100% !important;
  text-align: center !important;
  font-size: 22px;
}
.v_todo{
    text-align: center;
    padding-left: 60px;

}
#network_connect{

    margin-left:10px;
    margin-top: 23px;
}

.add_more_btn{
    margin-left: 43px;
    color: white;
    background: #51A2D5;
    border: 0px;
    height: 23px !important;
    border-radius: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: itc_avant_garde;
    cursor: pointer;
    padding-top: 5px;

}
.next_btn{
    margin-top: -25px;
    margin-left: 397px;
    color: white;
    background: #51A2D5;
    border: 0px;
    height: 25px !important;
    border-radius: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: itc_avant_garde;
    cursor: pointer;
    padding-top: 5px;

}

#forgot_psw{
    width: 550px;
    height: 300px;
    background-color:#fff;
    float: left;
    padding: 20px;
    margin-left: 300px;
    margin-top: 80px;
    position: center;
}
#forgot_psw p{
    font-size: 22px;
    float:left;
    color:#000000;
    
}
.psw_btn{
    color: white;
    background: #51A2D5;
    border: 0px;
    height: 25px !important;
    border-radius: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: itc_avant_garde;
    cursor: pointer;
    padding-top: 5px;

}

#goals_new{
    width:960px;
    height:400px;
    background:#ffffff;
    margin-top: 16px;
}

.goal_comment_ls{
    margin-left: 36px;
    margin-top: -29px;
}
.goal_btn{
    color: white;
    background: #51A2D5;
    border: 0px;
    height: 25px !important;
    border-radius: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: itc_avant_garde;
    cursor: pointer;
    padding-top: 5px;

}
.update_prf_btn{
    color: white;
    background: #51A2D5;
    border: 0px;
    height: 30px !important;
    border-radius: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: itc_avant_garde;
    cursor: pointer;
    padding-top: 5px;
    margin-left:-6px;
}
.feedback_fbtn{
    position: fixed;
    bottom: 2px; right: 0px;color: white;
    background: #000000;
    border: 0px;
    height: 20px !important;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: itc_avant_garde;
    cursor: pointer;
    padding-top: 5px;
}

.profile_text{
    display: block;
    text-align:justify;
    color:#000;
}
.post_time{
    margin-left: 75px;
    margin-top: -18px;
    color:#51A2D5;
}
.commentsbtn {
    color: #fff;
    background: #51A2D5;
    border: 0px;
    padding: 2px;
    font-size: 13px;
    font-family:itc_avant_garde;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 6px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
}
#request{
    width:530px;
    background-color:#ffffff;
}
#request h6{
    color:#000000;
    font-size: 16px;
    font-family: itc_avant_garde;
    float:left;
    margin-left: 10px;
}
#request td{
    width:100px;
    text-align: justify;
}
.requestbtn {
    color: #fff;
    background: #51A2D5;
    border: 0px;
    border-radius: 20px;
    padding: 7px;
    font-size: 13px;
    font-family:itc_avant_garde;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 60px;
    margin-top: 12px;
    height:25px;
}
/*-----------------------------------------*/
#post_items_div{
    margin-top: 10px;
    width: 690px; padding-bottom: 10px;
    position: relative; float: left;
}
#post_items_div #load_more{
    text-align: center; color: #aaa;
    height: 40px; font-size: 12px; font-weight: bold; letter-spacing: 1px;
    line-height: 40px;margin-bottom: 1px;
    background: rgba(0,0,0,.4);
    border-top: 1px solid rgba(9,9,9,.9);
    border-left: 1px solid rgba(30,30,30,.9);
    border-right: 1px solid rgba(40,40,40,.9);
    border-bottom: 1px solid rgba(150,150,150,.9);
    cursor: pointer;
}
#post_items_div #posts_ul{
    list-style: none;
    background-color: #fff;
    margin: 0px!important; padding: 0px!important;
    border: 1px solid #fff;
}
#post_items_div #posts_ul .post_list_item{
    border-bottom: 1px solid #ccc;
    height: auto;padding: 10px;margin: 0px;
    min-height: 70px;
}
#post_items_div #posts_ul .post_list_item_last{
    border-bottom: none;
    height: auto;padding: 10px;margin: 0px;
    height: 30px!important;
}
#post_items_div #posts_ul .post_list_item img{
    padding: 0px;
}
#post_items_div #posts_ul .post_list_item label{
    font-size: 12px;color: #54a1d5;
    font-weight: bold;padding: 0px;
    margin-left: 0px!important;
}
#post_items_div #posts_ul .post_list_item .cmt{
    margin: 0px; padding: 0px;
    font-size: 12px;
    padding: 0px;color: #0D0D0D!important;
    width: 588px!important;
    display: block;
    margin-top: -10px; margin-bottom: 0px;
    font-family: itc_avant_garde!important;
    margin-left: 0px!important;
    word-wrap:break-word;
    margin-top: 5px;
}
#post_items_div #posts_ul:last-child{
    border: none !important;
}
#post_items_div #posts_ul .post_list_item:last-child{
    height: 30px;
}
#posts_ul .comments_cnt{
    color: #96c953;
    font-size: 10px; font-weight: bold;
    margin-left: -10px;
    margin: 0px; padding: 0px;
}
#posts_ul .comments_cnt:hover{
    color: #96c953;
    font-size: 10px;
    color: #aaa;
}
#post_items_div #activitiesH2{
    color: #fff;padding: 10px 0px 10px 30px;
    background-color: #54a1d5;
    font-size: 13px;letter-spacing: 1px;
    margin: 0px; 
    width: 660px !important;
}
#new_post_avt_img{
    float: left;
    margin-left: 20px;
}
#new_post_text_area{
    width: 470px; height: 85px;
    margin-left: 30px;margin-top: 20px;
}
#newpost_btns_con {
    /*background-color: #ffa;*/
    width: 210px; height: 35px;
    position: absolute;
    margin-top: 10px;
    margin-left: 470px;
}
#newpost_btns_con .btn {
    color: #fff;
    background: #51a2d5;
    border: 0px;
    padding: 2px;
    font-size: 13px;
    font-family:itc_avant_garde;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}
/*000000000000000000000000000000000000000000000000000000000000*/
#userCMT{
    background-color:rgba(81,162,213,.2);
    border-bottom: 1px dotted #aaa;
    /*width: 590px;*/
}
#userCMT img{
    width: 40px;height: 40px;
    margin: 5px;
    float: left;
    display: inline-block;
}
#userCMT p{
    display: inline-block;
    float: left;
    width: 530px;
}
.post_fld_input_div{
    width: 900px;
}
#singleCMT{
    width:100%; background:rgba(84, 161, 213,.1); 
    border-bottom:1px dotted rgba(170,170,170,1);
    margin-bottom:0px; padding-top:5px;padding-bottom:5px;
}
#cmtImgDiv{
    width:40px; display:inline-block; float:left;
}
#actlCmt{
    width:545px; margin-left:5px;display:inline-block;
}
#cmt_first_name{
    color:rgba(84, 161, 213,1);font-weight:bold;font-size:12px;
}
#cmtPostedAgo{
    display:block;color:#AAA; letter-spacing:1px; font-size:10px;
}
.about_meLft_col{
    display: inline-block;
    width: 200px;
    margin-left: 50px;
    cursor: default;
    text-align: left;
    color:#51a2d5;
}
.about_meRht_col{
    display: inline-block;
    width: 200px;
    margin-left: 50px;
    cursor: default;
    text-align: left;
    color: #96c953;
}
.comp_sep{
    border: 0; border-bottom: 1px dashed #ccc; 
    width: 90%;
    margin: 0px auto;
    padding-bottom:10px;
    clear: both;
}
#fom{
    width: 400px; 
    margin: 0px auto; 
    padding: 5px; 
    margin-bottom: 10px; 
    border: 1px solid #f4f4f4;
    background-color: #F4F4F4;
    -webkit-border-radius: 10px;
            border-radius: 10px;
}
#fom .txt_inp{
    width: 262px !important;
  float: none;
}
#fom .input_fld_div{
  position: relative;
  height: auto;

  margin-bottom: 5px;
}
#fom .input_fld_div:after{
    content:'';height: 0;
    line-height: 0;
    clear: both;visibility: hidden;
}
#fom .input_fld_div label{
    width: 80px;
    display: list-item;
    float: left;
    cursor: default;
    font-size: 12px;
    list-style: none;
    margin: 0px;padding: 0px;
    margin-right: 50px;
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
}
#fom .input_fld_div:after{
   content:'';height: 0;
   line-height: 0;
   clear: both;visibility: hidden;
}

/*naveen code*/

.profile_image_thumb {
    width: 120px;
    height: 120px;
    padding: 5px;
    padding-top: 5px;
}
.profile_about_n{
    background-color:#ffffff;
    height:130px;
    position: relative;
}

.profile_about_text{
    margin-top: -120px;
    margin-left: 148px;
}
.profile_about_btnn{
    color:#25A1D8;
    font-family:bold;
    font-size:16px
}
#profile_about_list{
    color:#99C853;
    font-family:bold;
    margin-left: 148;
    margin-top: 0px;
    bottom: 3px;
    position: absolute;
    bottom: 10px;
}
#profile_about_list label{
    color:#333;
    font-family:bold;
    font-size:13px
}
.company_v {
    background-color: rgb(81, 162, 213);
    color: white!important;
    height: 50px;
    font-size: 42px;
    width: 970px;
    text-align: center;
    padding-top: 32px;
    font-size: 22px!important;
}

.company_user_v{
    width: 490px;
    height: 100px;
}
/* NAVEN--------------------------------*/
#msg_conv{
    width:980px;
    background-color:#ffffff;
    float: left;
    color:red;
 
    dsiplay: block;
}
#msg_conv h4{
    color:#96c953;
    font-size: 16px;
    font-family: itc_avant_garde;
}
#msg_conv label{
    font-size: 16px;
    font-family:itc_avant_garde;
    color: #51a2d5;
    float:left;
    margin-left: 35px;
    margin-top: -40px;
    /*background-color: #ff6;*/
}
#msg_conv .posted_text, .subject {
      padding-left: 6px;
  }
#msg_conv p {
      color: red;
  }
  li.receipt{
      list-style-type: none;
      display: block;
      border-bottom: 1px dotted #aaa;
      min-height: 50px;
      margin-bottom: 10px;
  }
li.receipt{
      list-style-type: none;
      display: block;
      border-bottom: 1px dotted #aaa;
      min-height: 50px;
      margin-bottom: 10px;
  }
  .feedback_fbtn{
    position: fixed;
    bottom: 0px; right: 0px;color: white;
    background: #51A2D5;
    border: 0px;
    border-radius: 10px 0px 0px 10px;
    height: 20px !important;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: itc_avant_garde;
    cursor: pointer;
    padding-top: 5px;
}
/*------------------------------------------000000000000000000000000000 ----------------------------------*/
#reply{
    color: #fff;
    background: #96c953;
    border: 0px;
    border-radius: 10px;
    padding: 3px;
    font-size: 12px;
    font-family: itc_avant_garde;
    width: 90px;
    cursor: pointer;
    font-weight: 100;
    margin-left: 61px;
}
.goals_tab_title{
    display: block; width:460px;
    text-align:center; font-weight: bold;
    padding: 20px; color: #000;
    font-size: 16px; letter-spacing: 1px;
}
#about_goal_item{
    width: 90%;
    margin: 0px auto;
    margin-top: 30px;
}
#goals_new h2{
    text-align: center !important;
    width: 100% !important;
    font-size: 22px!important;
}
.backgroundShadeForContainer{
    background: url('/assets/div-bg.png')!important;
    background-repeat: repeat-x!important;
    background-position: left bottom !important;
    padding-bottom:145px !important;
}
#goal_cmts{
    padding: 10px;
    display: block;
    /*background-color: #f00;*/
    /*border-bottom: 1px dotted #aaa;*/
}
#goal_cmts2{
    padding: 10px;
    display: block;
    /*background-color: #f00;*/
    /*border-bottom: 2px solid #000;*/
}
.gole{
    color: #000!important;
    font-size: 16px!important;
    font-weight: bold!important;
}
/* -------------------- MAIN COLORS -------------------------*/
/*     96c953 >> GREEN     */
/*     51a2d5 >> BLUE     */