<div id="container" style="background-color: #ffffff">
  <br/>
<% @organizations.each do |organization| %>

      <label class="about_meLft_col">Organization name:</label><label class="about_meRht_col"><%= organization.org_name %></label><br />
      <label class="about_meLft_col">Organization Url:</label><label class="about_meRht_col"><%= organization.org_url %></label><br />
      <label class="about_meLft_col">Organization Email:</label><label class="about_meRht_col"><%= organization.org_admin_email %></label><br />



<% end %>
  <% if @organizations.length == 0 %>
      <h2 style="width:275px;margin-left: 270px;">No Organizations created </h2>
      <% end %>
 <hr/>
<br />

<%= link_to 'New Organization', new_organization_path %>
</div>