<% @profile_result.each do |profile_result| %>
   <table style="background-color: white;">
     <tr>
       <td>First Name:</td>
       <td><%=  profile_result.first_name %></td>
     </tr>
     <tr>
       <td>Last Name:</td>
       <td><%=  profile_result.last_name %></td>
     </tr>
   </table>

<% end %>