<div id ="container">
<br>
<div class="search_container">
  <div class="search_user">
    <h2>Search Results</h2>

  <% unless @profile_result.empty? and @company_name.empty? %>
  <div class="search_results_details">
      <b><% @profile_result.each do |profile_result| %></b>
          <% user = User.find(profile_result.user_id) %>
          <table style="color: #51a2d5;">
            <tr>
              <td>
                <%= link_to "#{profile_result.first_name}", profile_result %>
                <%= link_to "#{profile_result.last_name}", profile_result %>
                <%=  user.user_role.to_sentence %>
              </td>
            </tr>
          </table>
      <% end %>
      <br/>
  </div>


  <div class="search_results_details">
    <% @company_name.each do |profile_result| %>
        <td><%= link_to "#{profile_result.company_name}", profile_result %>
            </td>
  <% end %>
  </div>
    <% else %>
        <p><b>No Results Found</b></p>
    <% end %>
</div>
</div>


